html {
  background-color: white;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0px;
}
.header {
  background-color: pink;
}
.nav_bar {
  height: 30px;
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-top: 30px;
  background-color: white;
}

.nav_item {
  margin: 4px 30px;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  color: black;
}
.nav_link {
text-decoration: none;
}
.nav_item:hover {
  background-color: #AFDAFF;
  color: white;
  padding: 2px 20px;
}
.big_photo {
  padding: 200px;
  width: 50%;
  text-align: center;
  justify-content: flex-end;
  float: left;
  position: relative;
}
.big_photo .image {
  background: url("images/Big_Photo.JPG");
  background-color: white;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
}
.photo_frame {
     border-radius: 150px;
     width: 220px;
     height: 220px;
     background-position: right;
     display: flex;
     margin-bottom: 17px;
     border-color: #AFDAFF;
     background-color:  white;
}
.little_photo {
  border-radius: 150px;
  background: url('images/Bed_shot.jpeg');
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  background-size: cover;
  display: flex;
  margin-bottom: 17px;

}
.faded_box {
  z-index: 3;
  position: relative;
  color: white;
}
.headings {
  font-family: 'Lobster', cursive;
  font-size: 80px;
}
.sub_headings {
  font-family: 'Unica One', cursive;
  font-size: 30px;
  text-align: center;
}
.sub_text {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  line-height: 50px;
}
.about_me {
  position: relative;
  float: right;
  padding: 40px;
  text-align: center;
  font-size: 15px;
  font-family: 'Unica One', cursive;
}
.white_box {
  background-color: white;
  width: 100%;
  margin-top: 599px;
  padding: 60px 0px;
  position: relative;
  border-color: #AFDAFF;
  border-width: medium;
  border-style: double;
}
.about-container {
  display: flex;
}
p {
  padding: 20px 100px;
  font-family: 'Indie Flower', cursive;
}
.long_photo_frame {
  background-color: white;
  height: auto;
  width: 450px;
  margin-top: none;
  margin: 40px;
}
.long_photo {
  height: 100%;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  background: url("images/Bone.jpeg")
}
.last_photo_frame {
  width: 600px;
  height: 500px;
  margin: 20px 400px;
  background-color: blue;
  display: flex;
}
.last_photo {
  text-align: center;
  margin-top: 50px;
}
 button {
  border-radius: 40px;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-color: #AFDAFF;
  border-width: medium;
  border-style: double;
}
 button:hover {
  background-color: #AFDAFF;
  color: white;
  font-weight: bolder;
}
.pictures {
  width: 300px;
  height: auto;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
}
.futhur_info {
  background-color: #CCE7FF;
  padding: 60px;
}
.image_frame {
  display: inline-block;
  background-color: #CCE7FF;
  border-bottom: 8px #CCE7FF solid;
  border-right: 10px #CCE7FF solid;
  border-top: 4px #CCE7FF solid;
  padding: 0px;
  margin: 0px;
  border-radius: 5px;
}
.parting_message {
  margin-right: 20px;
  margin: 50px 100px 0px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFC4C4;
  color: white;
  text-align: center;
  padding: 10px 20px;
}
.link {
  border-radius: 40px;
  background-color: white;
  padding: 20px;
  margin: 10px;
  text-decoration: none;
  color: black;
  border-color: #AFDAFF;
  border-width: medium;
  border-style: double;
}
.link:hover {
  background-color: #AFDAFF;
  color: white;
  font-weight: bolder;
}
